<!DOCTYPE html>
<html>
<title>GR Rajkumar</title>
<body>
    <p>Hi Welcome to My Django Blog</p>
    <header>
        <h1>My Django Blog</h1>
    </header>
    <div>
        <article>
            <time>published: 06.10.2044, 18:46</time>
            <h2><a href="">My Bio</a></h2>
            <p>I am GR Rajkumar born and bot in Tiruppur, Tamil Nadu, India. Middle class family my father name GK Renganathan and My Mother name is Annapoorani R. </p>
        </article>

        <article>
            <time>published: 06.10.2024, 18:50</time>
            <h2><a href="">My Studies</a></h2>
            <p> I stared My schooling in 1992 Amala Matriculation Higher Secondary School in <a href="https://en.wikipedia.org/wiki/Gobichettipalayam" title="Gobichettipalayam">Gobichettipalayam</a>.</p>
        </article>
    </div>
</body>
</html>